.section {


    @media (max-width: 768px) {

        &__slideshow {
            @include displayFlex(space-between, flex-end);
            background-image: url('./images/slideshows/mobileslideshow.jpg');
            background-size: cover;
            height: 260px;
            width: $w-100;

            &__btn {
                background-color: $header-bg-color;
                color: $white;
                display: inline-block;
                border-radius: 15px;
                padding: 8px;
                margin: 20px;
            }

            &__icon {
                @include displayFlex(center, flex-end);
                @include flow(column);

                &--1 {
                    @include animation();
                    @include btnMobileSlideshow();
                    background-color: #6e4f39;
                }

                &--2 {
                    @include animation();
                    @include btnMobileSlideshow();
                    background-color: #ad856c;
                }

                &--3 {
                    @include animation();
                    @include btnMobileSlideshow();
                    background-color: #e1b08b;
                }
            }
        }

    }







    // laptop

    @media (min-width: 768px) {


        &__slideshow {
            background-image: url('./images/slideshows/slideshow2.jpg');
            background-size: contain;
            height: 75vh;
            width: $w-100;

            &__btn {
                display: none;
            }

            &__icon {
                height: $w-100;
                @include displayFlex(center, flex-end);

                &--1 {
                    @include animation();
                    @include btnLaptopSlideshow;
                    background-color: #6e4f39;
                }

                &--2 {
                    @include animation();
                    @include btnLaptopSlideshow;
                    background-color: #ad856c;
                }

                &--3 {
                    @include animation();
                    @include btnLaptopSlideshow;
                    background-color: #e1b08b;
                }
            }
        }

    }


}