.section {


    @media (max-width: 768px) {

        &__slideshow {
            @include displayFlex(space-between, flex-end);
            background-image: url('./images/slideshows/mobileslideshow.jpg');
            background-size: cover;
            height: 260px;
            width: $w-100;

            &__btn {
                background-color: $header-bg-color;
                color: $white;
                display: inline-block;
                border-radius: 15px;
                padding: 8px;
                margin: 20px;
            }

            &__icon {

                @include displayFlex(center, flex-end);
                @include flow(column);

                &--1 {
                    @include animation();
                    background-color: #6e4f39;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 20px;
                }

                &--2 {
                    @include animation();
                    background-color: #ad856c;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 20px;

                }

                &--3 {
                    @include animation();
                    background-color: #e1b08b;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 20px;



                }
            }
        }

    }







    // laptop

    @media (min-width: 768px) {


        &__slideshow {
            background-image: url('./images/slideshows/slideshow2.jpg');
            background-size: contain;
            height: 75vh;
            width: $w-100;

            &__btn {
                display: none;
            }

            &__icon {
                height: 100%;
                @include displayFlex(center, flex-end);
                // @include flow();

                &--1 {
                    @include animation();
                    background-color: #6e4f39;
                    display: inline-block;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    margin: 40px;
                }

                &--2 {
                    @include animation();
                    background-color: #ad856c;
                    display: inline-block;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    margin: 40px;

                }

                &--3 {
                    @include animation();
                    background-color: #e1b08b;
                    display: inline-block;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    margin: 40px;



                }
            }
        }

    }


}